*,
*::before,
*::after {
    box-sizing: border-box;
}
.sign-in {
    background: linear-gradient(180deg, #FFA001 0%, #FFD821 100%);
    width: 30vw;
    /* margin: 50px 20px 20px 60px; */
    padding: 30px 30px 60px 30px;
    border-radius: 10px;
    box-shadow: 5px 10px 8px black;
    color: black;
}

.sign-in-buttons {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .sign-in {
        width: 80vw;
    }

    .sign-in-buttons {
        flex-direction: column;
    }

    #sign-in-google {
        margin-top: 2em;
    }
}