.footer {
    display: flex;
    height: auto;
    height: 60vh;
    align-items: center;
    background: linear-gradient(180deg, #FFA001 0%, #FFD821 100%);
    flex-direction: column;
}

.footer-logo {
    padding: 2em;
    width: fit-content;
}

.email {
    font-weight: 500;
}

.telegram-container {
    display: flex;
    align-items: center;
}

.telegram {
    width: fit-content;
}

.phone {
    font-weight: 600;
}

.telegram-tag {
    color: black;
    font-size: 1rem;
    font-weight: 700;
}