.intro2 {
    margin-top: 1em;
    padding: 2em;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
}

.services-provided {
    margin-top: 2em;
    font-size: 2rem;
    font-weight: 800;
}

.cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 2em;
}

.card {
    background-color: #FDCE2AD1 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    border-radius: 1em;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-content {
    display: list-item;
    font-weight: 500;
    line-height: 1.4;
    align-self: center;
    padding-left: 1em;
}

.bell {
    background: url("../../../assets/bell.png");
    width: 88px;
    height: 78px;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}


@media (max-width: 50em) {
    .intro2 {
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }

    .cards-wrapper {
        flex-direction: column;
    }

    .card {
        max-width: 100%;
    
    }
}